<article class="post round">
<h3><%= post.title %></h3>
<%= coderay post.body %>
<ul>
  <li>Posted at <%= post.created_at %></li>
  <li><%= pluralize post.comments.count, "comment" %></li>
  <li><%= primary_button_link_to "show", post %></li>
</ul>
</article>



