<h1>Post#show</h1>
<%= link_to "New Post", "/post/new" %>

<% unless @post.empty? %>
	<%= @post.each do |post| %>
		Name: <%= post.name %><br/>
		Title: <%= post.title%><br/>
		Body: <%= post.body%><br/>
		
		<%= link_to "edit", "/post/edit" %> 
		<%= link_to "destroy", "/post/delete" %>
		
		<br/> <br/>
	<% end %>
<%end%>