<%= gflash %>

<p><%= link_to "<< back to posts", posts_path %></p>

<h1><%= @post.title %></h1>

<article class="post round">
	<%= coderay(@post.body) %></div>
</article>

<ul>
  <li><%#= link_to "edit", edit_post_path(@post) %></li>
  <li><%= button_link_to "destroy", @post, :method => :delete, :confirm => "Are you sure?" %></li>
</ul>

<!-- <h2>Tags: </h2> -->
<%#= @post.tags.map {|t| t.name}.join(", ") %>
<br/>
<%= render @post.comments %>

 	<h3>Add a comment</h3>
	<%= render "comments/form" %>
<p><%= link_to "<< back to posts", posts_path %></p>