<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag "application"%>
  <%= javascript_include_tag "application" %>
  <%= auto_discovery_link_tag(:rss, "http://damainboss.com") %>
  <%= csrf_meta_tags %>
</head>
<body>
<section class="container_16">
<%= yield %>
</section>

</body>
</html>
